<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Extraction - Team ZeRoS</title>
</head>
<body>
    <h1>Welcome to Resume Extraction</h1>
    <br>
    <h2>Type '/testdata' after the url to get the output from any random sample resume present in our test data</h2>
    <h2>Type '/resume' after the url  to get the output from pdf resume present in our directory</h2>
</body>
</html>